.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 60px;
    padding-top: 0;
    font-size: 1.4em !important;
}

body{
    font-family: 'Josefin Slab';
}
#bgimg {
    background-image: url('../images/cool.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    
}
#bgimg2 {
    background-image: url('../images/cool2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    
}
#moving_text{
    font-size: 68px;
}
.typewrite {
    text-align: center;
    color: white;
    font-size: 70px;
    text-decoration: none;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    
}

.form-signin .form-control:focus{
    z-index: 2;
}

.form-signin input[type="email"]{
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="name"]{
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="text"]{
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin button[type="button"]{
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



#modal_wrapper.overlay::before{
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.7);
}

#modal_window{
    display: none;
    z-index: 200;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 660px;
    overflow: auto;
    padding: 10px 20px;
    background: #fff;
    border: 5px solid #999;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(245,245,245, 0.7);
}

#modal_wrapper.overlay #modal_window {
    display: block;
}

.panel-height {
  height: 100px; 
  width: 50px;
}










