<!DOCTYPE html>
<!-- BSColOffset.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BucketList</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin Slab" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/mycss.css" rel="stylesheet">
    
</head>
<body id="bgimg">

 <header> 
        <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> Bucket List</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="just_signup"><a href="signup"><i class="fa fa-home"></i>Sign Up</a></li>
				<li><a href="login"><i class="fa fa-home"></i>Log In</a></li>
                 
            </ul>
            
            </div>
        </nav>
 </header>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
	           <h1 style="color:white; font-size:45px">AWESOME BUCKETLIST </h1>
            </div>
	    <div class="col-md-12">
      
       <h1><p class="typewrite" data-period="2000" 
           data-type ='["What would you like to do in the next few years?", "Climb a mountain?","Learn to ride a bicycle? :)","We will help you to record and share things you want to do and experience!!"]'>
        <span class="wrap"></span></p></h1>
        
        
    </div>
    
        </div>
    </div>
  
</body>
    <script src="../static/js/awesome.js"></script>
</html>