<!DOCTYPE html>
<!-- BSColOffset.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BucketList</title>
     <link href="https://fonts.googleapis.com/css?family=Josefin Slab" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/css/mycss.css"" rel="stylesheet">
  
</head>
<body id="bgimg">

 <header> 
        <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> Bucket List</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=""><i class="fa fa-home"></i>Home</a></li>
				<li><a href="signup"><i class="fa fa-home"></i>Sign Up</a></li>
                 
            </ul>
            
            </div>
        </nav>
 </header>

    <div class="container">
         <div class="row">
        <div class="col-md-6 col-md-offset-3">
        
            <h1 style="color:white;">Get started</h1>
            <form class="form-signin" method="POST">
                <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email Address">
                <input type="password" name="inputPassword"  class="form-control" placeholder="Password">
                
                <button class="btn btn-lg btn-success btn-block" type="submit" onclick="window.location='bucket_list'">Sign In</button>
            </form>
        
             </div>
        </div>
    </div>
  
</body>
     <script src="../static/js/awesome.js"></script>
</html>