<!DOCTYPE html>
<!-- BSColOffset.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BucketList</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link href="../static/css/mycss.css"  rel="stylesheet">
    
</head>
<body id="bgimg2">

 <header> 
        <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> Bucket List</a>
            </div>
            <ul class="nav navbar-nav col-md-2 col-md-push-4">
            <a class="navbar-brand">Hello  {{ username }}</a>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
				<li><a href="/"><i class="fa fa-home"></i>Log Out</a></li>
                 
            </ul>
            
            </div>
        </nav>
 </header>

    <div class="container" >
        <div id="bgimage">
        <div class="row">
           <div class="col  col-md-offset-2">
                {% if users_bucketlist %}
                <form method="POST" action="/bucket_list/delete_all">
                        <button class="btn btn-success" name="delete_item">Delete Whole BucketList</button>
                    </form>
                </div>
                {% endif %}
            <div class="col  col-md-offset-7">
               <button class="btn btn-success" id="modal_open">Create bucketlist</button>
                
              
                    <div id="modal_wrapper">
                        <div id="modal_window">

                            <div style="text-align: right;"><a id="modal_close" href="#">CLOSE</a></div>

                            <p>Complete the form below to create a BucketLit:</p>

                                <form class="form-signin" id="modal_feedback" method="POST">
                                                   
                                        <label>Description:</label>
                                        <input type="text" name="description" id="description" required class="form-control" placeholder="Be more Descriptive Like... i would like to climb Mt Everest Next Month !!">
                
                                        <a href="my_bucket.html"><input id="btnSignUp" class="btn btn-lg btn-success btn-block" type="submit"></a>
                                </form>

                        </div> <!-- #modal_window -->
                        </div> <!-- #modal_wrapper -->
                
               
            </div>
            <div class="col-md-6  col-md-offset-4">
                
            </div>
             <div class="col-md-6 col-md-offset-2" style="margin-top:40px">
             
             {% if users_bucketlist %}

             {% for item in users_bucketlist %}

           <div class="media" id="my_list_item">
            <div class="media-right pull-left">
                <a href="#">
                    <div id="kamjeshImage"></div>
                </a>
            </div>
                <div class="media-body">
                                   
                    <p> <strong><span></span> </strong></p>

                    <p id="text_for_item">{{ item }}</p>
                    
                    <p> <i>Remember the sky is always the limit</i></p>
                     <form method="POST" action="/bucket_list/{{loop.index}}/delete">
                        <button class="btn btn-success" name="delete_item">Delete Item</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        
    </div>
    </div>
    </div>
    </div>
    
    
    <script type="text/javascript"  src="../static/js/awesome.js"></script>
    
  
</body>
</html>