<!DOCTYPE html>
<!-- BSColOffset.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BucketList</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

     <link href="../static/css/mycss.css"  rel="stylesheet">
    
</head>
<body id="bgimg2">

 <header> 
        <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> Bucket List</a>
            </div>
            <ul class="nav navbar-nav col-md-2 col-md-push-4">
            <a class="navbar-brand">Hello  {{ username }}</a>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
				<li><a href="/"><i class="fa fa-home"></i>Log Out</a></li>
                 
            </ul>
            
            </div>
        </nav>
 </header>

    <div class="container" >
        <div id="bgimage">
        <div class="row">
           
                 
            <div class="col  col-md-offset-7">
               <button class="btn btn-success" id="modal_open">Create bucketlist</button>
                 
              
                    <div id="modal_wrapper">
                        <div id="modal_window">

                            <div style="text-align: right;"><a id="modal_close" href="#">CLOSE</a></div>

                            <p>Complete the form below to create a BucketList:</p>

                                <form class="form-signin" id="modal_feedback" method="POST" action="/bucket_list">
                                                   
                                        <label>Description:</label>
                                        <input type="text" name="description" id="description" required class="form-control" placeholder="Be more Descriptive Like... i would like to climb Mt Everest Next Month !!">
                
                                        <input id="btnSignUp" class="btn btn-lg btn-success btn-block" type="submit">
                                </form>

                        </div> <!-- #modal_window -->
                        </div> <!-- #modal_wrapper -->
                
               
            </div>
            </div>
           

                                {% for big_stuff, all_lists in bucket_list_items2.items() %}

                            <div class="panel panel-default" style="width: 520px">
                               
                            <div class="panel-heading clearfix">
                                <h4 class="panel-title pull-left" style="padding-top: 7.5px;"> {{ big_stuff }}</h4>
                                    
                                      
                                    <div class="btn-group pull-right">
                                        <a href="#edit_bucket_modal" data-toggle="modal" data-edit-bucket="{{ big_stuff }}"class="btn btn-primary" style="float: left">Edit BucketList</a>


                                        <div class="modal" id="edit_bucket_modal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title">Edit the bucket</h4>
                                            </div>
                                            <div class="modal-body">
                                               <form action="/bucket_list/edit_bucketlist" method="POST"> 
                                                                        <input type="text" required class="form-control" name="bucket-name" placeholder="Enter new name of bucket">
                                                                        <input type="hidden" name="bucketName">                                              
                                                                        <input class="btn btn-default" type="submit"/></form>
                                            </div>
                                                 <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                        

                                        <a href="#my_modal" data-toggle="modal" data-book-id="{{ big_stuff }}" class="btn btn-primary" style="float: right">Add Item</a>
                                     
                                        <form action="/bucket_list/delete_all" method="POST">
                                        <input type="hidden" name="bucket_name" value=" {{ big_stuff }}"/>
                                        <input type="submit" class="btn btn-danger" style="float: left"  value="Delete BucketList"/>
                                        </form>

                                     <div class="modal" id="my_modal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title">Add item to bucket</h4>
                                            </div>
                                            <div class="modal-body">
                                               <form action="/bucket_list/add_item" method="GET"> 
                                                                        <input type="text" required class="form-control" name="to_do" placeholder="Enter what you want to do">
                                                                        <input type="hidden" name="bookId">                                              
                                                                        <input class="btn btn-default" type="submit"/></form>
                                            </div>
                                                 <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                        </div>

                                    </div>
                             
                                    
                            </div>
                            <div class="panel-body" style="overflow-y: auto">
                                
                                <table class="table table-bordered">
                                        <tbody>
                                             
                                                {% for do in all_lists %}
                                                <tr>
                                                <td>{{ do }}</td>
                                                <td>
                                                     <a class="btn btn-default" href="#edit_modal" data-toggle="modal" data-item="{{ do }}" data-dict-name="{{ big_stuff }}">
                                                     <i class="glyphicon glyphicon-edit"></i>
                                                     </a>
                                                         <div class="modal" id="edit_modal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title">Edit the item in bucket</h4>
                                            </div>
                                            <div class="modal-body">
                                               <form action="/bucket_list/edit_item" method="POST"> 
                                                                        <input type="hidden" name="item"> 
                                                                        <input type="hidden" name="dict_name">
                                                                        <input type="text" class="form-control" name="item_to_add">                                              
                                                                        <input class="btn btn-default" type="submit"/></form>
                                            </div>
                                                 <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                        </div>

                                                </td>
                                                <td>
                                                    <form action="/bucket_list/delete_item" method="POST">
                                                    <input type="hidden" name="item" value="{{ do }}">
                                                    <input type="hidden" name="dict_name" value="{{ big_stuff }}">
                                                        <button type="submit">
                                                    <span class="glyphicon glyphicon-remove clickable"></span>
                                                        </button>
                                                    </form>
                                                </td>
                                                </tr>
                                            {% endfor %}
                                        
                                        </tbody>
                                    </table>
                                   
                                  

                                  
                            </div>
                            
                           
                        </div>
                        
              {% endfor %}




   
                    
        </div>
    </div>                           
    
    
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    
 <script type="text/javascript"  src="../static/js/awesome.js"></script>
 <script>
 $('#my_modal').on('show.bs.modal', function(e) {
    var bookId = $(e.relatedTarget).data('book-id');
    $(e.currentTarget).find('input[name="bookId"]').val(bookId);
 });

 $('#edit_modal').on('show.bs.modal', function(e) {
    var item = $(e.relatedTarget).data('item');
    var dictname = $(e.relatedTarget).data('dict-name')
    $(e.currentTarget).find('input[name="item"]').val(item);
    $(e.currentTarget).find('input[name="dict_name"]').val(dictname);
 });

  $('#edit_bucket_modal').on('show.bs.modal', function(e) {
    var item = $(e.relatedTarget).data('edit-bucket');
    $(e.currentTarget).find('input[name="bucketName"]').val(item);
    
 });
</script>   
    
 
  
</body>
</html>